<div class="large-container">
  <h3>ログイン</h3>
  <div class="form-box">
    <%= form_with scope: :session, local: true do |f| %>
      <div class="row">
        <div class='input-field col s11 m8'>
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, class: 'form-control', id: 'session_email' %>
        </div>
        <div class='input-field col s11 m8'>
          <%= f.label :password, 'パスワード'%>
          <%= f.password_field :password, class: 'form-control', id: 'session_password' %>
        </div>
      </div>
      <div>
        <%= f.submit 'ログインする', class: 'btn btn-primary' %>
      </div>
      <br>
      <h6> ー　または　ー</h6>
      <br>
      <a href="/auth/google_oauth2" class="waves-effect waves-light btn red lighten-1"><i class="fab fa-google"></i><span>&emsp;Signup in with Google&thinsp;</span></a><br>
      <br>
      <a href="/auth/twitter" class="waves-effect waves-light btn light-blue lighten-1"><i class="fab fa-twitter"></i><span>&emsp;Signup in with Twitter</span></a>
      <br>
      <br>
      <div>
        <a href="/users/new" class="waves-effect waves-light btn white "><i class="material-icons left teal-text text-lighten-1">person_add</i><span class="teal-text text-lighten-1">新しいユーザーを登録</span></a>
      </div>
    <% end %>
  </div>
</div>
