<body>
  <div id= "mapbox">
    <% unless current_user %>
      <%= link_to 'テストユーザーでかんたんログイン', testsessions_path, method: :post, id: "test_login_btn", class: "waves-effect waves-light btn grey darken-4"%>
    <% end %>
    <button id="currentPosition" class="btn-floating btn-large waves-effect waves-light teal lighten-1 tooltipped" data-position="left" data-tooltip="現在地を表示"><i class="material-icons">my_location</i></button>
    <button id="searchWindowBtn" data-target="searchBox" class="btn modal-trigger btn-floating btn-large waves-effect waves-light teal lighten-1 tooltipped" data-position="left" data-tooltip="地名を検索"><i class="material-icons">search</i></button>
    <div id="searchBox" class="modal">
      <div class="modal-content">
        <a>探したい地名を入力</a>
        <div style="float:left;">
          <input type="text" size="70" id="search" value=""></div>
        <div style="float:right;">
          <button id="searchGo" class="modal-close waves-effect waves-dark btn"><i class="material-icons">search</i></button></div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
    <div id="maplocations" data-maplocations-id="<%= @maps.to_json %>"></div>
    <div id="kanzumes" data-kanzumes-id="<%= @kanzumes.to_json %>"></div>
    <div id="map"></div>
    <script src="maps.js" type="text/javascript"></script>
    <%= render 'window' %>
    <script>
      document.getElementById("infowindows").style.display = "none";
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBwVfFPbRIzMuOHE5p01Nm1K0Y8E4IK5IA&callback=initMap&libraries=places" type="text/javascript"></script>
  </div>
  <% unless current_user %>
    <div class="about-box">
      <div class="concept-box teal lighten-2 white-text card">
        <h3>KANMAPって？</h3>
        <div class="row">
          <div class="concept-text col s9">
            <p>KANMAPは地図上にあなたのKANZUMEを設置し、みんなと共有できるサービスです。</p>
            <p>一度KANZUMEを設置しその中にアイテムを入れると、誰でもアイテムを見たり、入れたりすることができます。</p>
            <p>思い出の場所やお気に入りの場所にKANZUMEを設置してみよう!</p>
          </div>
          <div class="concept_chef-cans col s3">
            <img src="https://d1oc5iua8d0deu.cloudfront.net/uploads/ICONS/concept_chef-cans.png" >
          </div>
        </div>
      </div>
      <div class="slider instruction-box card">
        <ul class="slides">
          <li class="teal lighten-2 white-text">
            <h3>How To...</h3>
            <div class="row">
              <div class="col s6 m4">
                <img src="https://d1oc5iua8d0deu.cloudfront.net/uploads/ICONS/Instruction1.png">
              </div>
              <div class="content center-align col m7">
                <p class="white-text">好きな場所をクリックしてKANZUMEを設置しよう。</p>
              </div>
            </div>
          </li>
          <li class="teal lighten-2 white-text">
            <h3>How To...</h3>
            <div class="row">
              <div class="col s6 m4">
                <img src="https://d1oc5iua8d0deu.cloudfront.net/uploads/ICONS/Instruction2.png">
              </div>
              <div class="content center-align col m7">
                <p class="white-text">設置したKANZUMEの中にアイテムを入れ、コメントや写真を追加できます。</p>
              </div>
            </div>
          </li>
          <li class="teal lighten-2 white-text">
            <h3>How To...</h3>
            <div class="row">
              <div class="col s6 m4"><img src="https://d1oc5iua8d0deu.cloudfront.net/uploads/ICONS/Instruction3.png"></div>
              <div class="content center-align col m7">
                <p class="white-text">地図上に表示されているKANZUMEの中身を見れば、自分や他の人の入れたアイテムを見ることができます。</p>
              </div>
            </div>
          </li>
          <li class="teal lighten-2 white-text">
            <h3>Let's get started!</h3>
            <div class="row">
              <div class="col s6 m4">
                <img src="https://d1oc5iua8d0deu.cloudfront.net/uploads/start_chef.png" class="start_chef">
              </div>
              <div class="content center-align col m7">
                <p class="white-text"> はじめよう！</p>
                <a href="/users/new" class="waves-effect waves-light btn white" id="instruction-join-btn"><i class="material-icons left teal-text text-lighten-1">person_add</i><span class="teal-text text-lighten-1">JOIN</span></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
  <%= stylesheet_link_tag 'maps', media: 'all'%>
</body>
</html>
