<%= stylesheet_link_tag 'items', media: 'all'%>
<% if item.errors.present? %>
  <ul id="error_explanation">
    <% item.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  </ul>
<% end %>
<div class="form-box">
  <%= form_with(model: item, local: true) do |f| %>
    <%= f.hidden_field :kanzume_id, value: @kanzume.id %>
    <div class="row">
      <div class="input-field col s11 m8">
        <%= f.label "ITEMの名前 (最大30文字)" %>
        <%= f.text_field :name, required: true, class: 'validate', id: 'item-name', autofocus: true, maxlength: '30' %>
      </div>
      <div class="input-field col s11 m8">
        <%= f.label "メモ (最大255文字)" %>
        <%= f.text_area :memo, rows: 5, class: 'materialize-textarea', id: 'item_memo', maxlength: '255'  %>
      </div>
      <div class='file-field input-field col s11 m8'>
        <div class="btn">
          <span>画像</span>
          <%= f.file_field :image%>
        </div>
        <div class="file-path-wrapper col s11 m8">
          <input class="file-path" type="text">
        </div>
      </div>
      <div class="input-field col s11 m8">
        <select class="icons validate" name="item[item_icon_id]" required="required">
          <option disabled selected required>
            <% if @item.item_icon.present?%>
              <%= @item.item_icon.name %>
            <% end %>
          </option>
          <%= @item_icons.each do |i|%>
            <option value="<%= i.id %>" data-icon="<%= i.picture %>" >
              <%= i.name %></option>
          <% end %>
        </select>
        <label>アイコンを選択</label>
      </div>
    </div>
    <div>
      <%= f.submit nil, class: 'btn' %>
    </div>
    <%if controller.action_name == "edit"%>
      <div id="delete_btn">
        <%= link_to '削除する', @item, method: :delete, data: {confirm: "#{@item.name}　を削除します。よろしいですか？"}, class: 'btn grey'%>
        <div>
        <% end %>
      <% end %>
    </div>
    <script>
      $("select[required]").css({display: "block", height: 0, padding: 0, width: 0, position: 'absolute'});
    </script>
