<% if item.errors.present? %>
  <ul id="error_explanation">
    <% item.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: item, local: true) do |f| %>
  <%= f.hidden_field :kanzume_id, value: @kanzume.id %>
  <div class="input-field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, class: 'validate', id: 'item_name', autofocus: true %>
  </div>
  <div class="input-field">
    <%= f.label :memo %>
    <%= f.text_area :memo, rows: 5, class: 'materialize-textarea', id: 'item_memo' %>
  </div>
  <div class='file-field input-field'>
    <div class="btn">
      <span>画像</span>
      <%= f.file_field :image%>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>
  <div class="input-field col s12 m6">
    <select class="icons" name="item[item_icon_id]">
      <option value="" disabled selected>Choose your option</option>
      <%= @item_icons.each do |i|%>
        <option value="<%= i.id %>" data-icon="<%= i.picture %>" >
          <%= i.name %></option>
      <% end %>
    </select>
    <label>アイコンを選択</label>
  </div>
  <%= f.submit nil, class: 'btn' %>
<% end %>
