<h1><%= image_tag(@item.item_icon.picture_url) %></h1>

<ul class='nav justify-content-end'>
  <%= link_to '一覧', items_path, class: 'nav-link' %>
</ul>

<table class= 'table table-hover'>
  <tbody>
    <tr>
      <th><%= Item.human_attribute_name(:id) %></th>
      <td><%= @item.id %></td>
    </tr>
    <tr>
      <th><%= Item.human_attribute_name(:name) %></th>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <th><%= Item.human_attribute_name(:memo) %></th>
      <td><%= auto_link(simple_format(h(@item.memo), {}, sanitize: false, wrapper_tag: "div")) %></td>
    <tr>
    <tr>
      <th><%= Item.human_attribute_name(:image) %></th>
      <td><%= image_tag(@item.image_url) if @item.image.present? %></td>
    </tr>
    <tr>
      <th><%= Kanzume.human_attribute_name(:name) %></th>
      <td><%= link_to @item.kanzume.name, @item.kanzume %></td>
    </tr>
    <tr>
      <th><%= Item.human_attribute_name(:created_at) %></th>
      <td><%= @item.created_at %></td>
    </tr>
    <tr>
      <th><%= Item.human_attribute_name(:updated_at) %></th>
      <td><%= @item.updated_at %></td>
    </tr>
  </tbody>
</table>

<td><%= link_to '編集', edit_item_path(id: @item.id, kanzume_id: @item.kanzume.id), class: 'btn btn-primary' %></td>
<%= link_to '削除', @item, method: :delete, data: {confirm: "#{@item.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger' %>
