<% if kanzume.errors.present? %>
  <ul id="error_explanation">
    <% kanzume.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: kanzume, local: true do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, required: true, class: 'form-control', id: 'kanzume_name' %>
  </div>
  <div class="form-group">
    <%= f.label 'Kanzumeを選択' %>
    <%= f.collection_select :kanzume_icon_id, KanzumeIcon.all, :id, :name, { prompt: "Choose an ICON" }, {class: "browser-default"} %>
  </div>
  <% if local_assigns.has_key? :new_flag %>
    <%= f.fields_for :maps do |m| %>
      <div>
        <%= m.label "位置情報: #{params[:address_name]}" %>
        <%= m.hidden_field :address, value: params[:address_name], required: true%>
        <%= m.hidden_field :latitude, value: params[:address_latitude], required: true%>
        <%= m.hidden_field :longitude, value: params[:address_longitude], required: true%>
      </div>
    <% end %>
  <% end %>
  <%= f.submit nil, class: 'btn waves-effect waves-light' %>
<% end %>
