<%= stylesheet_link_tag 'kanzumes', media: 'all'%>
<div class="large-container">
  <h3>KANZUME</h3>
  <div class="small-header row">
    <div class="pagenate">
      <%= paginate @kanzumes %>
    </div>
    <div id="page-entries-info">
      <%= page_entries_info @kanzumes, entry_name: 'KANZUME' %>
    </div>
    <div class="contenteiner-searchsort">
      <a class="waves-effect waves-light modal-trigger" href="#search-modal"><i class="material-icons">search</i></a>
      <div id="search-modal" class="modal">
        <div class="search-modal-content">
          <p>KANZUMEを探す</p>
          <%= search_form_for @q, class: 'mb-5' do |f| %>
            <div class="input-field">
              <%= f.label :name_cont, 'NAME'%>
              <%= f.search_field :name_cont%>
            </div>
            <div class="input-field">
              <%= f.label :updated_at_gteq, 'UPDATED' %>
              <%= f.search_field :updated_at_gteq%>
            </div>
            <div class="input-field">
              <%= f.label :created_at_gteq, 'CREATED' %>
              <%= f.search_field :created_at_gteq%>
            </div>
            <%= button_tag type: "submit", class: "btn right" do%>
              <i class="material-icons ">search</i>
            <% end %>
          <% end %>
        </div>
      </div>
      <a class='dropdown-trigger right' data-target='dropdown-sort'><i class="material-icons small teal-white right">sort</i></span></a>
    <ul id='dropdown-sort' class='dropdown-content right'>
      <li><%= sort_link(@q, :name) %></li>
      <li><%= sort_link(@q, :updated_at) %></li>
      <li><%= sort_link(@q, :created_at) %></li>
    </ul>
  </div>
</div>
<div class="row flex">
  <% @kanzumes.each do |kanzume| %>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-top row">
          <div class="card-image"> <%=link_to image_tag(kanzume.kanzume_icon.picture_url), "/kanzumes/#{kanzume.id}" %></div>
          <span id="card-name" class="card-name">
            <p><%= link_to kanzume.name, kanzume %></p>
          </span>
        </div>
        <div class="card-content row">
          <div class="card-date">
            <p class="date">CREATED: <%= kanzume.updated_at.to_s(:datetime) %></p>
            <p class="date">UPDTAED: <%= kanzume.created_at.to_s(:datetime) %></p>
          </div>
        </div>
        <%= link_to edit_kanzume_path(kanzume) do%>
          <div class="btn-floating btn-small" id="edit_btn"><i class="material-icons">edit</i></div>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
</div>
</div>
<script>
  $(document).ready(function() {
    $('.modal').modal();
    $('.dropdown-trigger').dropdown();
    });
</script>
