<h1>Kanzume</h1>

<div id="k_window" class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span id="k_name" class="card-title">Kanzume Title</span>
          <p id="k_address">address</p>
        </div>
        <div class="card-action">
          <button class="windowbtn_s">見てみる</button>
          <button class="windowbtn_a">アイテムを入れる</button>
        </div>
      </div>
    </div>
  </div>

<div id="c_window" class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <p id="c_address">address</p>
        </div>
        <div class="card-action">
          <button class="windowbtn_a">ここにKanzumeを置く</button>
        </div>
      </div>
    </div>
  </div>

<%= search_form_for @q, class: 'mb-5' do |f| %>
  <div class="form-group row">
    <%= f.label :name_cont, '名称', class: 'col-sm-2 col-form-label'%>
    <div class="col-sm-10">
      <%= f.search_field :name_cont, class: 'form-control'%>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :created_at_gteq, '登録日時', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= f.search_field :created_at_gteq, class: 'form-control'%>
    </div>
  </div>
  <%= button_tag type: "submit", class: "btn" do%>
    <i class="material-icons">search</i>
  <% end %>
<% end %>
<div class='mb-3'>
  <table class='table table-hover'>
    <thead class='thead thead-default'>
      <tr>
        <th><%= sort_link(@q, :name) %></th>
        <th><%= sort_link(@q, :created_at) %></th>
      </tr>
      <tbody>
        <% @kanzumes.each do |kanzume| %>
          <tr>
            <td><%= link_to kanzume.name, kanzume %></td>
            <td><%= kanzume.created_at %></td>
            <td><%= link_to edit_kanzume_path(kanzume) do%>
                <i class="material-icons">edit</i>
              <% end %>
            </td>
            <td>
              <%= link_to '×', kanzume, method: :delete, data: {confirm: "「#{kanzume.name}」を削除します。よろしいですか？"}, class: 'btn-floating btn-small grey lighten-1' %></td>
          </tr>
        <% end %>
      </tbody>
    </thead>
  </table>
</div>
