<h1><%= image_tag(@kanzume.kanzume_icon.picture_url) %></h1>
<ul class='nav justify-content-end'>
  <%= link_to '一覧', kanzumes_path, class: 'nav-link' %>
</ul>
<table class= 'table table-hover'>
  <tbody>
    <tr>
      <th><%= Kanzume.human_attribute_name(:id) %></th>
      <td><%= @kanzume.id %></td>
    </tr>
    <tr>
      <th><%= Kanzume.human_attribute_name(:name) %></th>
      <td><%= @kanzume.name %></td>
    </tr>
    <% if @kanzume.items.present? %>
      <tr>
        <th>Contents</th>
        <td>
          <% @kanzume.items.each do |item| %>
            <div class='item_name'><%= link_to item.name, item %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if @kanzume.maps.present? %>
      <tr>
        <th>Location</th>
        <td>
          <% @kanzume.maps.each do |map| %>
            <div class='map_address'><%= link_to map.address, map %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th><%= Kanzume.human_attribute_name(:created_at) %></th>
      <td><%= @kanzume.created_at %></td>
    </tr>
    <tr>
      <th><%= Kanzume.human_attribute_name(:updated_at) %></th>
      <td><%= @kanzume.updated_at %></td>
    </tr>
  </tbody>
</table>
<%= link_to 'Kanzumeを編集', edit_kanzume_path,class: 'btn btn-primary mr-3' %>
<%= link_to 'アイテムを追加', { controller: 'items', action: 'new', id: @kanzume }, class: 'btn btn-primary btn-info' %>
<%= link_to '位置情報を追加', { controller: 'maps', action: 'new', id: @kanzume }, class: 'btn btn-primary btn-info' %>
<%= link_to '削除', @kanzume, method: :delete, data: {confirm: "#{@kanzume.name}を削除します。よろしいですか？"}, class: 'btn btn-danger' %>
