<h1><%= @user.name %></h1>
<ul class='nav justify-content-end'>
  <%= link_to '一覧', admin_users_path, class: 'nav-link' %>
</ul>
<table class= 'table table-hover'>
  <tbody>
  <tr>
      <th><%= User.human_attribute_name(:avatar) %></th>
      <td><%= image_tag(@user.avatar_url) %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:email) %></th>
      <td><%= @user.email %></td>
    </tr>
    <% if @user.admin%>
    <tr>
      <th><%= User.human_attribute_name(:admin) %></th>
      <td><%= @user.admin? ? 'あり' : 'なし' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '編集', edit_admin_user_path, class: 'btn btn-primary mr-3' %>
<%= link_to '削除', [:admin, @user], method: :delete, data: {confirm: "ユーザー「#{@user.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger' %>
