<% if kanzume_icon.errors.present? %>
  <ul id="error_explanation">
    <% kanzume_icon.errors.full_messages.each do |message| %>
    <li> <%= message %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: kanzume_icon, local: true do |f| %>
  <div class='input-field'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'validate', id: 'kanzume_icon_name' %>
  </div>
  <div class='file-field input-field'>
    <div class="btn">
      <span>ICON</span>
      <%= f.file_field :picture, class: 'validate', id: 'kanzume_icon_picture' %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
    <%= f.file_field :picture%>
  </div>
  <%= f.submit nil, class: 'btn btn-primary' %>
<% end %>
