<h1><%= @kanzume_icon.name %></h1>

<table class= 'table table-hover'>
  <tbody>
    <tr>
      <th><%= KanzumeIcon.human_attribute_name(:id) %></th>
      <td><%= @kanzume_icon.id %></td>
    </tr>
    <tr>
      <th><%= KanzumeIcon.human_attribute_name(:name) %></th>
      <td><%= @kanzume_icon.name %></td>
    </tr>
    <tr>
      <th><%= KanzumeIcon.human_attribute_name(:picture) %></th>
      <td><%= image_tag @kanzume_icon.picture_url(:thumb) if @kanzume_icon.picture.present? %></td>
    </tr>
    <tr>
      <th><%= KanzumeIcon.human_attribute_name(:created_at) %></th>
      <td><%= @kanzume_icon.created_at %></td>
    </tr>
    <tr>
      <th><%= KanzumeIcon.human_attribute_name(:updated_at) %></th>
      <td><%= @kanzume_icon.updated_at %></td>
    </tr>
  </tbody>
</table>

<%= link_to '編集', edit_kanzume_icon_path, class: 'btn btn-primary mr-3' %>
<%= link_to '削除', @kanzume_icon, method: :delete, data: {confirm: "#{@kanzume_icon.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger' %>
