<!DOCTYPE html>
<html>
  <head>
    <title>KANMAP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="app-title navbar navbar-expand-md navbar-light bg-light">
      <div class="navbar-brand"><a href= "/">KANMAP</a></div>
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
            <li class="nav-item">
              <%= link_to 'Kanzume', kanzumes_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ã‚¢ã‚¤ãƒ†ãƒ ', items_path, class: 'nav-link' %>
            </li>
            <% if current_user.admin? %>
              <li class="nav-item">
                <%= link_to 'ãƒ¦ãƒ¼ã‚¶ãƒ¼ä¸€è¦§', users_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ðŸ¥«', kanzume_icons_path, class: 'nav-link' %>
              </li>
              </li>
              <li class="nav-item">
                <%= link_to 'ðŸ¥', item_icons_path, class: 'nav-link' %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', logout_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', login_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
    <div class="alert alert-warning"><%= flash[:alert] %></div>
    <% elsif flash[:danger] %>
    <div class="alert alert-danger"><%= flash[:danger] %></div>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
